*{
  margin: 0;padding: 0;
  box-sizing: border-box;
  
  }
  @media only screen and (max-width:972px) {
   .food-menu-list{
    display: flex;
    flex-direction: column;
    flex-basis: 50%;
    align-items: center;
   }
  }
  
  @media only screen and (max-width:585px) {
    
   body{
    overflow-x: hidden;
   }
   .logo img {
    width: 150px;
    padding-right: 30px; 
  }
  
  .nav-links {
    display: flex;
    gap: 15px;
    list-style-type: none;
   
  }
  .nav-links a {
  
    font-size: 13px;
    font-weight:  600;
  }
   }